.pad:hover {
  cursor: url('src/assets/cursors/ThePointer.png'), pointer;
}

/*
.pad:hover {
  cursor: pointer;
}

.pad-0 {
  border-top-left-radius: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pad-1 {
  border-top-right-radius: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pad-2 {
  border-bottom-left-radius: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pad-3 {
  border-bottom-right-radius: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
 */
body {
  cursor: url('src/assets/cursors/TheCursor.png'), auto;
}

button {
  cursor: url('src/assets/cursors/ThePointer.png'), pointer;
}






.header {
  font-family: 'Kaotika';
  color: white;
  font-size: 1.5vw;
}

.titleWord {
  animation: efecto 4s linear infinite;
}

.titleWord:nth-child(1) {
  animation-delay: 0s;
}

.titleWord:nth-child(2) {
  animation-delay: 1.5s;
}

.titleWord:nth-child(3) {
  animation-delay: 2.5s;
}

.titleWord:nth-child(4) {
  animation-delay: 3.5s;
}


@keyframes efecto {

  0%,
  100% {
    color: rgb(57, 145, 39);
    filter: blur(1px);
    text-shadow: 0 5px 10px rgb(54, 89, 47), 0 0 20px rgb(54, 89, 47),
      0 0 30px rgb(54, 89, 47), 0 0 40px rgb(54, 89, 47) 0 0 50px rgb(54, 89, 47), 0 10px 60px rgb(54, 89, 47);
  }

  10%,
  95% {
    color: #333;
    filter: blur(0px);
    text-shadow: none;
  }
}


.descContainer {
  border: .1vh solid rgb(190, 154, 37);
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  animation: move-top-down 2s forwards;
  width: 13vw;
  height: 8.9vh;
  top: -12vh;
  left: 12.55vw;
}


.descText {
  /* display: inline-block; */
  position: relative;
  font-size: 1vw;
  width: 13vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

@keyframes move-top-down {
  from {
    transform: translate(0px, 3vh);
  }

  to {
    transform: translate(0px, 55vh);
  }
}



.gameOverText {
  animation: moveGameOverTitle 2s forwards;
}

@keyframes moveGameOverTitle {
  from {
    transform: translate(-50%, -80%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}